<link rel="stylesheet" href="{{ 'products-minicart.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'products-minicart.css' | asset_url | stylesheet_tag }}</noscript>
<script src="{{ 'products-minicart.js' | asset_url }}" defer="defer"></script>

<div id="products-minicart">
    {% for item in cart.items %}
        <div class="cart-item">
            <img src='{{ item.image | image_url }}' width='50' height='50' loading='lazy'/>
            <div class="grid-item">
                <p class="z-h5">
                    <b>{{ item.title }}</b><br/>
                    {{ item.variant.option1 }}
                </p>
            </div>               
            <div class="cart-item__rigth">
                <p>
                    {% if cart.currency.iso_code == 'EUR' %}
                        {{ cart.currency.symbol }} 
                    {% else %}
                        <b class="z-h5">{{ cart.currency.symbol }} {{item.final_line_price }}</b>
                    {% endif %}
                    
                </p>
                <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                    <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                        {% render 'icon-remove' %}
                    </a>
                    </cart-remove-button>

                    <quantity-input class="quantity cart-quantity">
                    <button 
                        onclick=updateQuantityProduct(this)
                        referenceInput="Quantity-minicart-{{ item.index | plus: 1 }}"
                        variant="{{ item.variant.id }}"
                        class="quantity__button no-js-hidden" 
                        name="minus" 
                        type="button"
                    >
                        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                        {% render 'icon-minus' %}
                    </button>
                    <input class="quantity__input"
                        type="number"
                        name="updates[]"
                        value="{{ item.quantity }}"
                        min="0"
                        aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                        id="Quantity-minicart-{{ item.index | plus: 1 }}" 
                        data-index="{{ item.index | plus: 1 }}"
                    >
                    <button 
                        class="quantity__button no-js-hidden" 
                        referenceInput="Quantity-minicart-{{ item.index | plus: 1 }}"
                        name="plus" 
                        type="button"
                        onclick=updateQuantityProduct(this)
                        variant="{{ item.variant.id }}"
                        >
                        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                        {% render 'icon-plus' %}
                    </button>
                </quantity-input>
            </div>
        </div>
    {% endfor %}
</div>