<link rel="stylesheet" href="{{ 'component-productsgrid.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-productsgrid.css' | asset_url | stylesheet_tag }}</noscript>
<script>

    let formData = {
        'items': [{
         'id': 36110175633573,
         'quantity': 2
         }]
       };
       fetch(window.Shopify.routes.root + 'cart/add.js', {
         method: 'POST',
         headers: {
           'Content-Type': 'application/json'
         },
         body: JSON.stringify(formData)
       })
       .then(response => {
         return response.json();
       })
       .catch((error) => {
         console.error('Error:', error);
       });

</script>



{{ collections['coleccionprod'].handle | json }}
<div class='productgrid_container'>
    {% for product in collections['coleccionprod'].products %}
        <div class='product_container'>
            <h3>{{ product.title }}</h3>
            {% comment %} {% for image in product.images %}
                <img src="{{ image | image_url: width: 300 }}" alt="{{ product.title }}" loading='lazy' width=300 height=300/>
              {% endfor %} {% endcomment %}
            <img src="{{ product.images | first | image_url: width: 300 }}" alt="{{ product.title }}" loading='lazy' width=300 height=300/>
            {% assign tempPrice=product.price | divided_by: 100.00 | round: 2 %}
            {% assign tempPrice=tempPrice | append: '€' %}
            {% assign colors=settings.colors_gradiproducts | split: ',' %}
            <h2>{{ tempPrice }}</h2>
            <div class="container_input">
                {% for tempColor in colors %}
                    {% liquid 
                        assign color=tempColor | split: ":" | last 
                    %}
                    <input class="input_productgrid" type='radio' style="accent-color:{{ color }}" checked="checked"/>
                {% endfor %}
            </div>
            <h3>id: {{ product.variants.title | json }}</h3>
            <button class='button_productgrid'>Add to cart</button>
        </div>
    {% endfor %}
</div>


