<link rel="stylesheet" href="{{ 'component-productsgrid.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-productsgrid.css' | asset_url | stylesheet_tag }}</noscript>

{{ collections['coleccionprod'].handle | json }}
<div class='productgrid_container'>
    {% for product in collections['coleccionprod'].products %}
        <div class='product_container'>
            <h3>{{ product.title }}</h3>
            {% comment %} {% for image in product.images %}
                <img src="{{ image | image_url: width: 300 }}" alt="{{ product.title }}" loading='lazy' width=300 height=300/>
              {% endfor %} {% endcomment %}
            <img src="{{ product.images | first | image_url: width: 300 }}" alt="{{ product.title }}" loading='lazy' width=300 height=300/>
            {% assign tempPrice=product.price %}
            <h2>$ {{ tempPrice }}</h2>
            <button class='button_productgrid'>Add to cart</button>
        </div>
    {% endfor %}
</div>


